:root {
    margin: 0;
    padding: 0;
    --specialblue: #1892d3;
    --specialdarkblue: #004970;
    --specialgray: #e1e8f0;
    --specialorange: #edb431;
    --specialdarkgray: #383434;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--specialblue);
}

.gridcon {
    display: grid;
}

#maincontainer {
    grid-template: 1fr 5fr / minmax(250px, 1fr) 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

/* Sidebar Below */

#sidebar {
    grid-area: sidebar;
    background-color: var(--specialblue, #1892d3);
    height: 100vh;
    color: white;
    grid-template-rows: 80px 30% 20%;
    gap: 40px;
}

#logoarea {
    display: flex;
    padding: 10px;
}

#odin {
    height: 60px;
    filter: brightness(0) invert(1);
    padding: 5px;
}

#sidebar ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

#sidebar>ul>li {
    display: flex;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
    gap: 30px;
    transition: 0.2s;
}

#sidebar>ul>li:hover {
    background-color: var(--specialdarkblue);
}

#sidebar>ul>li>img {
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
}

#sidemenu1>li:hover, #sidemenu2>li:hover {
    font-size: 1.25rem;
}

/* Header below*/

#header {
    grid-area: header;
    background-color: white;
    grid-template-rows: 0.8fr 1.2fr;
}

#headertop, #headerbottom {
    display: flex;
}

#headertop {
    justify-content: space-between;
    gap: 15%;
    padding: 0 20px;
}

#search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

#iconsearch, #iconalert {
    height: 25px;
    width: 25px;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s;
}

#iconalert:hover {
    background-color: var(--specialgray, #e1e8f0);
}

#searchbox {
    height: 30px;
    border-radius: 15px;
    background-color: var(--specialgray, #e1e8f0);
    border: none;
    flex-grow: 1;
}

#account {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
}

#profilepiccontainer {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilepicimg {
    height: 40px;
    padding-bottom: 5px;
}

.profilepicbg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--specialorange, #edb431);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.2s;
}

.profilepicbg:hover {
    height: 55px;
    width: 55px;
    background-color: #eb564b;
}

#accountnamesmall {
    /*These aren't working...*/
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 15px;
    transition: 0.2s;
    border-radius: 10px;
}

#accountnamesmall:hover {
    background-color: var(--specialblue, #1892d3);
    color: white;
}

#headerbottom {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcomecontainer {
    grid-template-columns: 80px 3fr;
    gap: 20px;
}

#welcomeprofilepic {
    padding: 10px;
    height: 60px;
    background-color: var(--specialorange);
    border-radius: 50%;
    justify-items: center;
}

#welcomecontainer > div {
    gap: 5px;
}

#welcomecontainer > div > h4 {
    grid-row: 1 / 2;
    margin: 0;
    align-self: end;
}

#welcomecontainer > div > h2 {
    grid-row: 2 / 3;
    font-weight: bold;
    margin: 0;
    align-self: start;
}

#headerbtncontainer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
}

#headerbtncontainer>div {
    background-color: var(--specialblue);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    transition: 0.2s;
}

#headerbtncontainer>div:hover {
    background-color: var(--specialdarkblue);
    font-size: 1.3rem;
}

/*Content Container Below*/

#content {
    grid-area: content;
    background-color: var(--specialgray, #e1e8f0);
    grid-template: 30px 1fr 30px 1fr / 4fr 1fr;
    grid-template-areas:
        "projecthd announcehd"
        "cards     announce"
        "cards     trendinghd"
        "cards     trending";
    gap: 10px;
    padding: 10px 20px 30px;
    overflow: auto;
}

#content>div, #content>h2 {
    margin: 10px 20px;
}

#projectheader {
    grid-area: projecthd;
}

#projects {
    grid-area: cards;
    gap: 40px;
    grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.3));
    transition: 0.4s;
}

.projcard {
    border-left: var(--specialorange, #edb431) solid 8px;
    padding: 20px;
    grid-template-rows: 1fr 30px;
}

.projcard:hover {
    border-left: #eb564b solid 8px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));
}

.cardtext {
    overflow: auto;
}

.cardicons {
    grid-template-columns: repeat(3, 25px);
    justify-content: end;
    gap: 30px;
    padding: 0 20px 10px;
}

.iconstar, .iconeye, .iconshare {
    height: 25px;
    width: 25px;
    padding: 8px;
    border-radius: 8px;
    transition: 0.1s;
}

.iconstar:hover, .iconeye:hover, .iconshare:hover {
    background-color: var(--specialgray);
}

#announcementheader {
    grid-area: announcehd;
}

#announcements {
    grid-area: announce;
    padding: 20px;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    overflow: hidden;
    gap: 5px;
}

.announcecontent {
    grid-template-rows: 20px 1.8fr;
    overflow: hidden;
    gap: 5px;
}

.announcehead {
    margin: 0;
    padding: 0;
}

.announcetext {
    font-size: 0.8rem;
    margin: 0;
}

.announceline {
    background-color: var(--specialgray);
}

#trendingheader {
    grid-area: trendinghd;
}

#trending {
    grid-area: trending;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    gap: 5px;
}

.trendcon {
    grid-template: 20px 20px / 70px 1fr;
    padding: 0;
}

.trendcon > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.trendname {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-weight: bold;
    font-size: 0.8rem;
}

.trendproj {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 0.8rem;
}

#prof1 {
    background-color: var(--specialorange);
}

#prof2 {
    background-color: yellow;
}

#prof3 {
    background-color: pink;
}

#prof4 {
 background-color: green;
}