:root {
    margin: 0;
    padding: 0;
    --specialblue: #1892d3;
    --specialgray: #e1e8f0;
    --specialorange: #edb431;
    --specialdarkgray: #383434;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.gridcon {
    display: grid;
}

#maincontainer {
    grid-template: 1.2fr 6fr / minmax(250px, 1.2fr) 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

#sidebar {
    grid-area: sidebar;
    background-color: var(--specialblue, #1892d3);
    height: 100vh;
    color: white;
    grid-template-rows: 80px 30% 20%;
    gap: 40px;
}

#logoarea {
    display: flex;
    padding: 10px;
}

#odin {
    height: 60px;
}

#sidebar ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

#sidebar>ul>li {
    display: flex;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
    gap: 15px;
    transition: 0.2s;
}

#sidebar>ul>li:hover {
    background-color: #004970;
}

#sidebar>ul>li>img {
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
}

#header {
    grid-area: header;
    background-color: white;
    grid-template-rows: 1fr 1fr;
}

#headertop, #headerbottom {
    display: flex;
}

#headertop {
    justify-content: space-between;
    gap: 200px;
    padding: 0 20px;
}

#search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

#iconsearch, #iconalert {
    height: 25px;
    width: 25px;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s;
}

#iconalert:hover {
    background-color: var(--specialdarkgray, #383434);
}

#searchbox {
    height: 30px;
    border-radius: 15px;
    background-color: var(--specialgray, #e1e8f0);
    border: none;
    flex-grow: 1;
}

#account {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
}

#profilepiccontainer {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilepicimg {
    height: 40px;
    padding-bottom: 5px;
}

.profilepicbg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--specialorange, #edb431);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.2s;
}

.profilepicbg:hover {
    height: 55px;
    width: 55px;
    background-color: #eb564b;
}

#accountnamesmall {
    /*These aren't working...*/
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 15px;
    transition: 0.2s;
    border-radius: 10px;
}

#accountnamesmall:hover {
    background-color: var(--specialblue, #1892d3);
    color: white;
}

#downarrow {
    height: 12px;
    filter: brightness(0) invert(1);
}

#content {
    grid-area: content;
    background-color: var(--specialgray, #e1e8f0);
    grid-template: 40px 1fr 40px 1fr / 4fr 1fr;
    grid-template-areas:
        "projecthd announcehd"
        "cards     announce"
        "cards     trendinghd"
        "cards     trending";
    gap: 10px;
    padding: 10px 20px 30px;
    overflow: auto;
}

#content>div, #content>h2 {
    margin: 10px 20px;
}

#projectheader {
    grid-area: projecthd;
}

#projects {
    grid-area: cards;
    gap: 40px;
    grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 14px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: 3px 3px 14px 3px rgba(0,0,0,0.38);
    box-shadow: 3px 3px 14px 3px rgba(0,0,0,0.38);
}

.projcard {
    border-left: var(--specialorange, #edb431) solid 8px;
}

#announcementheader {
    grid-area: announcehd;
}

#announcements {
    grid-area: announce;
}

#trendingheader {
    grid-area: trendinghd;
}

#trending {
    grid-area: trending;
}